<div class="home d-flex flex-column" >
    <h1 class="container-fluid bg-body p-5 text-center pt-5">Taste the Tradition
    <p class="fs-5">Traditional Dishes and Recipes from Different Cultures</p>
    </h1>
    <%= link_to "Explore the Tastes", articles_path, class: "btn btn-warning btn-lg" %>
</div>